* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  /* background: #fff; */
  padding: 25px;
  max-width: 760px;
  margin: 25px auto;
  overflow: hidden;
  border-radius: 10px;
  font-family: sans-serif;
  color: rgb(0 0 0 / 87%);
}

h1,
h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  text-align: center;
  padding: 5px 5px 5px;
  color: #57635c;
}

/* .logo {
  width: 100%;
  text-align: center;
}

.logo img {
  width: 100px;
} */
.new-task-container {
  text-align: center;
}

.new-task-container input{
  padding: 6px 16px;
  border: 1px solid #57635c;
  border-radius: 2px;
}

.box {
  padding: 10px 15px;
  box-shadow: rgb(0 0 0 / 8%) 0px 5px 10px;
  border-radius: 5px;
  background: #fff;
  margin: 15px 0;
}

.todo-list {
  float: left;
  width: 46%;
}

.complete-list {
  float: right;
  width: 46%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 20px;
  /* box-shadow: rgb(0 0 0 / 8%) 0px 5px 10px; */
}


#addTask{
  padding: 6px 16px;
  background-color: #04AA6D;
  color: #fff;
  font-weight: 400;
  border: none;
  border-radius: 2px;
}
.delete {
  float: right;
  background-color: red;
  color: white;
  border: none;
  padding: 6px 16px;
  border-radius: 2px;
}
footer{
  text-transform: uppercase;
  color: #57635c;
  margin-top: 400px;
  text-align: center;
}
